//
//  Release.xcconfig
//  PodCastTask
//
//  Created by Ahmad on 21/11/2024.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974


// Server URL
SERVER_URL = https:/$()/api-v2-b2sit6oh3a-uc.a.run.app
ROOT_URL = https:/$()/api-v2-b2sit6oh3a-uc.a.run.app
Image_Base_URL = https:/$()/i.scdn.co

// Keys
API_KEY =


// App Settings
ENVIRONMENT = PodCastTask
APP_NAME = PodCastTask
APP_BUNDLE_ID = Adam.PodCastTask
